<!--category.vtl-->
<h1>$category.getName() tasks:</h1>

<ul>
  #foreach($task in $category.getTasks())
   <li><a href="/categories/$category.getId()/tasks/$task.getId()">$task.getDescription()</a> - COMPLETED? $task.isCompleted()</li>
  #end
</ul>

<a href="/">All categories/Home</a>
<!--category.vtl-->
